:root {
  --font-satoshi: "Satoshi", sans-serif;
}

@import "tailwindcss";

/* app/globals.css */
@theme {
  --font-sans: var(--font-satoshi);
}

button, a, [role="button"] {
  cursor: pointer !important;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

/* Professional NProgress Customization */
#nprogress .bar {
  background: #2563eb !important; /* Premium Blue */
  height: 3px !important;
  box-shadow: 0 0 10px rgba(37, 99, 235, 0.5);
}

#nprogress .peg {
  box-shadow: 0 0 10px #2563eb, 0 0 5px #2563eb !important;
}
